<% provide(:title, 'About') %>
<div class="center hero-unit">
  <h1>Welcome to pling</h1>

  <h2>
    This is the about page for
    <a href="#/">pling</a>.
  </h2>

  <%= link_to "Sign up as a Traveler!", traveler_path, class: "btn btn-large btn-primary"%>
  <%= link_to "Sign up as a Translator!", translator_path, class: "btn btn-large btn-primary"%>
</div>