<% provide(:title, 'Admin') %>
<div>
  <h1>Welcome to pling</h1>

  <h2>
    This is the admin page for
    <a href="#">pling</a>.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>