<%= provide(:title, 'for Skype - Signup Complete') %>
<div id="skype-header" class="row span6 offset3">

<h1>PalmLing for Skype</h1>
<h2>Signup Confirmed!</h2>

</div>
<div class="row">
<div class="span6 offset3 temp-skype">
<p>Thank you for your purchase of <a href="http://www.palmling.com">PalmLing</a> for Skype. A member of the PalmLing team will follow-up with you shortly with details on how to access our global community of translators. Please allow 1 hour for us to respond to you. <br /><br /> Thank you, <br /> The PalmLing Team, <br /><a href="http://www.palmling.com">http://www.palmling.com</a><br /><br />
	<img src='http://dl.dropbox.com/u/3722777/icon/twitter_16.png' /><span> </span><a href='https://twitter.com/#!/palmling'>Twitter</a><br/>
	<img src='http://therohanaurora.com/files/downloads/icon/facebook_16.png' /><span> </span><a href='http://www.facebook.com/pages/PalmLing/108198825934073'>FaceBook</a>
	
</p>
	</div>
</div>


