<%= provide(:title, 'for Skype - Signup Complete') %>
<div class="span6">
    <div class="container">
        <div class="span5">
			<div class="control-group">
				<div class="span7">
					<h2>VerbalizeIt for Skype</h2>
					<h3>Signup Confirmed!</h3>
				</div>			
				<div class="span7">
				<br/>		
				<p>Thank you for your purchase of <a href="http://www.verbalizeit.com">VerbalizeIt</a> for Skype.  
				<ul>
				    <li>
				      To access a VerbalizeIt translator, please follow these brief instructions:
				    </li>
				    <li>
				      You can either send a Skype request to VerbalizeItSpanish, VerblizeItMandarin, VerbalizeItHindi or await a request.
				    </li>
				    <li>  
				      Dial your contact on Skype
				    </li>
				    <li>
				      Select the "+" button to add a caller
				    </li>
				    <li>
				      Add the appropriate VerbalizeIt Skype contact to your conversation
				    </li>
				    <li>
				      Ask the translator to translate between you and the other participant. Enjoy!
				    </li>
				    <li>
				      To view a brief explanatory video on how to use VerbalizeIt for Skype, please visit <a href='http://youtu.be/Pm-HCm0_SUc'>http://youtu.be/Pm-HCm0_SUc</a>  
				    </li
				</ul>
				<br/>
				Thank you, <br /> The VerbalizeIt Team, <br /><a href="http://skype.verbalizeit.com">http://www.verbalizeit.com</a><br /><br />
				<img src='http://dl.dropbox.com/u/3722777/icon/twitter_16.png' /><span> </span><a href='https://twitter.com/#!/verbalizeit'>Twitter</a><br/>
				<img src='http://therohanaurora.com/files/downloads/icon/facebook_16.png' /><span> </span><a href='http://www.facebook.com/verbalizeit'>Facebook</a>	
				</p>
			</div>
		</div>
	</div>
</div>