<%= provide(:title, 'for Skype - Step 2') %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32983816-1']);
  _gaq.push(['_setDomainName', 'verbalizeit.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<div id="skype-header" class="row span6 offset3">
<h1>VerbalizeIt for Skype</h1>
<h2 style='margin:10px 0px 0px 20px'>Step 2 - Select a Plan</h2>
<p style='margin:20px 0px 0px 0px'>Hi <span class="skype-name"> <%= @user.name %></span>, <br/>Thank you for signing up for VerbalizeIt for Skype! <br />  To get started, please select a plan that fits your needs and check your email after payment is completed.
</p>
</div>
<div class="span6">
    <div class="container">
        <div class="span5">
			<div class="control-group">
				<%= render 'paypal' %>
			</div>
		</div>
	</div>
</div>