<%= provide(:title, 'for Skype - Step 2') %>
<div id="skype-header" class="row span6 offset3">
<h1>VerbalizeIt for Skype</h1>
<h2>Step 2 - Select a Plan</h2>
<p>Hi <span class="skype-name"> <%= @user.name %></span>, <br/>Thank you for signing up for VerbalizeIt for Skype! <br />  To get started, please select a plan that fits your needs.
</p>
</div>
<div class="span6">
    <div class="container">
        <div class="span5">
			<div class="control-group">
				<%= render 'paypal' %>
			</div>
		</div>
	</div>
</div>