<%= provide(:title, 'for Skype - Signup Complete') %>
<%
if @user.preferred_language == "Spanish"
  @lingo = 'VerbalizeItSpanish'
elsif @user.preferred_language == "Mandarin"
  @lingo = 'VerbalizeItMandarin'
else
  @lingo = 'VerbalizeItHindi'
end
%>
<div class="span6">
    <div class="container">
        <div class="span5">
			<div class="control-group">
				<div class="span7">
					<h2>VerbalizeIt for Skype</h2>
					<h3>Signup Confirmed!</h3>
				</div>			
				<div class="span7">
				<br/>		
				<p>Thank you for signing up for a trial version of <a href='http://skype.verbalizeit.com'>VerbalizeIt for Skype</a>. 
				<br/>
				<ul>
				    <li>
				      To access a VerbalizeIt translator, please follow these brief instructions:
				    </li>
				    <li>
				      You can either send a Skype request to '<%=@lingo%>' or await a request from '<%=@lingo%>''
				    </li>
				    <li>  
				      Dial your contact on Skype
				    </li>
				    <li>
				      Select the "+" button to add a caller
				    </li>
				    <li>
				      Add the '<%=@lingo%>' contact to your conversation
				    </li>
				    <li>
				      Ask the translator to translate between you and the other participant. Enjoy!
				    </li>
				    <li>
				      To view a brief explanatory vide on how to use VerbalizeIt for Skype, please visit <a href='http://youtu.be/9VyXRyRtWmY'>http://youtu.be/9VyXRyRtWmY</a>  
				    </li    				
				</ul>
				<br/>
				You can make additional calls by signing up for the <a href='http://skype.verbalizeit.com'>premium version</a> of <a href='http://skype.verbalizeit.com'>skype.verbalizeit.com</a>.
				<br /><br /> Thank you, <br /> The VerbalizeIt Team, <br /><a href="http://skype.verbalizeit.com">http://www.verbalizeit.com</a><br /><br />
				<img src='http://dl.dropbox.com/u/3722777/icon/twitter_16.png' /><span> </span><a href='https://twitter.com/#!/verbalizeit'>Twitter</a><br/>
				<img src='http://therohanaurora.com/files/downloads/icon/facebook_16.png' /><span> </span><a href='http://www.facebook.com/verbalizeit'>Facebook</a>
	
				</p>
			</div>
		</div>
	</div>
</div>