<%= provide(:title, 'for Skype - Signup Complete') %>
<div class="span6">
    <div class="container">
        <div class="span5">
			<div class="control-group">
				<div class="span7">
					<h2>VerbalizeIt for Skype (1 Hour Free Trial)</h2>
					<h3>Signup Confirmed!</h3>
				</div>			
				<div class="span7">
				<br/>		
				<p>Thank you for signing up for a trial version of <a href='http://skype.verbalizeit.com'>VerbalizeIt for Skype</a>. 
				<br/><br/>
	
				You will soon receive a Skype request from "VerbalizeItSpanish".
				<br/><br/>
				Once you confirm our request, you will be able to make 1 call to access our global community of translators. 
				<br/><br/>
				You can make additional calls by signing up for the <a href='http://skype.verbalizeit.com'>premium version</a> of <a href='http://skype.verbalizeit.com'>skype.verbalizeit.com</a>.
				<br /><br /> Thank you, <br /> The VerbalizeIt Team, <br /><a href="http://skype.verbalizeit.com">http://www.verbalizeit.com</a><br /><br />
				<img src='http://dl.dropbox.com/u/3722777/icon/twitter_16.png' /><span> </span><a href='https://twitter.com/#!/verbalizeit'>Twitter</a><br/>
				<img src='http://therohanaurora.com/files/downloads/icon/facebook_16.png' /><span> </span><a href='http://www.facebook.com/pages/VerbalizeIt/108198825934073'>FaceBook</a>
	
				</p>
			</div>
		</div>
	</div>
</div>