<%= provide(:title, 'for Skype - Signup Complete') %>
<div id="skype-header" class="row span6 offset3">

<h5>PalmLing for Skype (1 Hour Free Trial)</h5>
<h2>Signup Confirmed!</h2>

</div>
<div class="row">
<div class="span6 offset3 temp-skype">
<p>Thank you for signing up for a trial version of <a href='http://skype.palmling.com'>PalmLing for Skype</a>. 
<br/><br/>
Your trial version will expire in one hour.
<br/>	
To get started, simply send a Skype request to "PalmLingSpanish".
<br/><br/>
Once we confirm your request, you will have access for one hour. Please don't abuse this privilege, and don't worry, your trial version will not start until we confirm your request. Please allow 1 hour for us to respond to you. 
<br/><br/>
If you would like to sign up for the premium version, please visit: <a href='http://skype.palmling.com'>skype.palmling.com</a>.
<br /><br /> Thank you, <br /> The PalmLing Team, <br /><a href="http://skype.palmling.com">http://www.palmling.com</a><br /><br />
<img src='http://dl.dropbox.com/u/3722777/icon/twitter_16.png' /><span> </span><a href='https://twitter.com/#!/palmling'>Twitter</a><br/>
<img src='http://therohanaurora.com/files/downloads/icon/facebook_16.png' /><span> </span><a href='http://www.facebook.com/pages/PalmLing/108198825934073'>FaceBook</a>
	
</p>
	</div>
</div>