<header>
    <div class="container">
        <div class="topnav">
            <a href="http://www.verbalizeit.com/translators">be a translator</a>|<a href="http://www.verbalizeit.com/about">about us</a>
        </div>
        <a href="http://www.verbalizeit.com"><img class="logo" src="/assets/logo.png" alt="VerbalizeIt"></a>
    </div><!-- container -->
    <div class="heavydivide"></div>
</header>
