   <header>
        <div class="container">
           <div class="topnav">

                <%= render ('shared/header_nav') %>

            </div>
            <a href="/"><%=  link_to image_tag("logo.png", :class => 'logo', :alt => 'VerbalizeIt'), 'http://www.verbalizeit.com' %></a>
        </div><!-- container -->
        <div class="heavydivide"></div>
    </header>
