<header>
    <div class="container">
        <div class="topnav">
            <a href="#">be a translator</a>|<a href="#">pricing</a>|<a href="#">about us</a>|<a href="#">signup</a>
        </div>
        <a href="http://www.verbalizeit.com"><img class="logo" src="/assets/logo.png" alt="VerbalizeIt"></a>
    </div><!-- container -->
    <div class="heavydivide"></div>
</header>
