<!-- <div class="lb_backdrop"></div>
<div class="lb_box">
    <div class="lb_close">x</div>
    <br clear="all"/>
    <h2> Login As:</h2>
    <ul>
        <li><% link_to %></li>
        <li><% link_to %></li>
    </ul>
    
</div> -->