     <div id="slider">
                <div class="card">
                    <div class="image"><img src="img/_temp-testimonial.jpg"></div>
                    <div class="text">
                        <p>We never would have figured out how to rent that scooter without help from verbalize.it.<br><br>I'm certain we'll be using it on our next trip.</p>
                        <div class="user">
                            <div class="name">Doug and Jennifer</div>
                            <div class="location">from <span>Tangier</span></div>
                        </div>
                    </div>
                </div><!-- ./card -->
                <div class="card">
                    <div class="image"><%= image_tag "v2/_temp-testimonial.jpg" %></div>
                    <div class="text">
                        <p>We never would have figured out how to rent that scooter without help from verbalize.it.<br><br>I'm certain we'll be using it on our next trip.</p>
                        <div class="user">
                            <div class="name">Doug and Jennifer</div>
                            <div class="location">from <span>Tangier</span></div>
                        </div>
                    </div>
                </div><!-- ./card -->
                <div class="card">
                    <div class="image"><%= image_tag "v2/_temp-testimonial.jpg" %></div>
                    <div class="text">
                        <p>We never would have figured out how to rent that scooter without help from verbalize.it.<br><br>I'm certain we'll be using it on our next trip.</p>
                        <div class="user">
                            <div class="name">Doug and Jennifer</div>
                            <div class="location">from <span>Tangier</span></div>
                        </div>
                    </div>
                </div><!-- ./card -->
            </div> <!-- ./slider -->