<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <title>verbalize.it</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela|Varela+Round">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet/less" href="css/styles.less">

    <link rel="shortcut icon" href="img/favicon.ico">

</head>
<body class="inner">

    <header>
        <div class="container">
            <a class="signin" href="#">Sign in</a>
            <a href="/"><img class="logo" src="img/logo.png" alt="Verbalize.it"></a>
        </div><!-- container -->
    </header>

    <section class="map translatorstories">
        <div class="caption">
            <div class="container">
                Lin Mei lives in New York. She speaks English and Mandarin, <br> and wants to earn some extra money between classes.
            </div>
        </div>
        <div class="container">
            <div class="map-container">
                <img src="img/translator-story-user1.png" class="user1">
                <img src="img/translator-story-user2.png" class="user2">
                <img src="img/translator-story-translator.png" class="translator">
                <div class="indicators">
                    <a href="#" class="active"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                </div>
            </div>
        </div><!-- ./container -->
    </section>

    <section class="process">
        <div class="container">

            <div class="span12"><h1>Become a translator in just in 5 minutes</h1><br></div>
            <div class="span4 step">
                <img src="img/process-arrow.png">
                <h2>Sign Up</h2>
                <p>Give us your phone number <br> and a few other details.</p>
            </div>
            <div class="span4 step">
                <img src="img/process-arrow.png">
                <h2>Show Your Skills</h2>
                <p>Take a quick profficiency test <br> in your languages.</p>
            </div>
            <div class="span4 step">
                <h2>Start Translating</h2>
                <p>Earn money by translating <br> conversations in your free time.</p>
            </div>
            <div class="span12">
                <br><a href="#" class="signup">Cool, Sign Me Up</a>
            </div>

        </div><!-- ./container -->
    </section>

    <section class="content">
        <div class="container">

            <div class="span12">
                <h2>Frequently Asked Questions</h2><br>
            </div>

            <div class="span6">

                <h3>Q: I want to join! How do I sign up?</h3>
                <p class="minor">Simply click here to register. Registration is quick and simple.</p>

                <h3>Q: Why should I become a VerbalizeIt translator?</h3>
                <p class="minor">Because you want to help travelers navigate the barriers to communication while visiting a country in which they do not speak the native language, of course! Plus, VerbalizeIt is a great place to work. Translators join the VerbalizeIt family, a community of fun and talented individuals who are passionate about language, travel and helping others make the most of their travels. We could tell you about all of the benefits of joining the VerbalizeIt community, but that would spoil all of the surprises!</p>

                <h3>Q: I know other people who’d be great translators.</h3>
                <p class="minor">Our best friend (next to a dog) is a referral from a customer or visitor who values our service. Click here to refer a customer or translator. We love referrals so much that we reward you for referring VerbalizeIt to others. to learn more.</p>

                <h3>Q: How can I earn money as a translator?</h3>
                <p class="minor">Follow our simple registration process, demonstrate your proficiency during our language test and provide exceptional service to VerbalizeIt customers. Translators are awarded based on the quality of their translations and their availability to do so.</p>

                <h3>Q: Why do you need my phone number?</h3>
                <p class="minor">Two reasons: One, we need to administer a language proficiency test. Two, our platform will route customer phone calls directly to your phone when you mark yourself available to translate.</p>

            </div>

            <div class="span6">
                
                <h3>Q: Why do you need my tax information?</h3>
                <p class="minor">Our payroll processing system requires your tax information in order to ensure compliance with U.S. tax laws.</p>

                <h3>Q: Why must I take a language proficiency test in order to be approved?</h3>
                <p class="minor">We only want the most qualified, dedicated and accountable translators to join the VerbalizeIt community. Put yourself in the shoes of a traveler – wouldn’t you want the best and brightest to take your call? We think so.</p>

                <h3>Q: I missed the proficiency test call. What should I do?</h3>
                <p class="minor">It happens. Please email us at admin@verbalizeit.com to reschedule. We’ll find another time for you!</p>

                <h3>Q: How much time or scheduling flexibility do I need to join VerbalizeIt?</h3>
                <p class="minor">Our platform works with even the busiest of schedules, so even if you have only a short period of time to make yourself available to translate, VerbalizeIt is still right for you.</p>

                <h3>Q: I’m signed up! Now what?</h3>
                <p class="minor">Upon registering, you indicated several times for when you are available to take the proficiency test. Please wait for one of our testers to contact you.</p>

            </div>

   <%= render ('shared/footer') %>