// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {padding-top: 10px;}

#skype-header
{
	padding-top: 20px;
	
}
#skype-header h1
{
	color: #FFDE00;
}

#skype-header h3
{
	padding-bottom: 25px;
}

#skype-header h4
{
	font-size: 28px;
	color: #FFDE00;
	padding-bottom: 20px;
}

#skype-header h5
{
	font-size: 24px;
	color: #FFDE00;
	padding-bottom: 20px;
}
#skype-header.row h1, #skype-header.row h2
{
	text-align: left;
}
label, table
{
	color: white;
	font-size: 14px;
}
span.skype-name
{
	color: #FFDE00;
}
table
{
	margin-left: 20px;
	margin-top: 20px;
}
input[type="image"]
{
	margin-left: 25%;
}
.temp-skype
{
	padding-left: 20px;
}
.temp-skype a
{
	color: white;
	font-size: 14px;
	text-decoration: none;
	border-bottom: 1px solid white;
}
.temp-skype a:hover
{
	text-decoration: none;
	color: white;
	border-bottom: none;

}
#errorExplanation
{
	
	color: black;
	border: 1px solid red;
	padding: 5px;
}
#errorExplanation h2
{
	text-align: left;
	color: red;
}
#errorExplanation p
{
	color: black;
	font-weight: bold;
}
