<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "About",   'http://www.palmling.com/about_page' %></li>
      <li><%= link_to "FAQs", 'http://www.palmling.com/FAQ' %></li>
      <li><%= link_to "Press", 'http://www.palmling.com/press_palmling' %></li>
      <li><%= link_to "Contact", 'http://www.palmling.com/contact' %></li>
    </ul>
  </nav>
</footer>